<!-- <!DOCTYPE html>
<html lang="en">

<head>

  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .container {
      overflow: scroll;
      width: 300px;
      height:200px;
      padding-left:250;
      padding-right:500;
    }
  </style>
</head>

<body>
  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>식당</th>
          <th>전화번호</th>
        </tr>
      </thead>
      <tbody>
        {% for c in data %}
        <tr>
          <td>{{c.name}}</td>
          <td>{{c.ph}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</body>

</html> -->

<p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="eunhui-0126" data-slug-hash="NWNxbBJ" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="NWNxbBJ">
  <span>See the Pen <a href="https://codepen.io/eunhui-0126/pen/NWNxbBJ">
  NWNxbBJ</a> by EunHui-0126 (<a href="https://codepen.io/eunhui-0126">@eunhui-0126</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>





















