<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/templatemo-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap | Pagination</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="jquery-1.10.2.min.js"></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v8.0" nonce="DCcjkSxO"></script>
    <!-- <!DOCTYPE html>
<html lang="ko">

    <meta charset="euc-kr">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap | Pagination</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="jquery-1.10.2.min.js"></script> -->
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {
            height: 550px
        }

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 200%;
        }

        /* On small screens, set height to 'auto' for the grid */
        @media screen and (max-width: 767px) {
            .row.content {
                height: auto;
            }
        }

        .col-sm-9 .well {
            height: 355px;
            overflow: auto;
        }

        .listbtn {
            background-color:#FFB85A;
            border-color: #FFB85A;
            padding: 10px 100px;
            font-size: large;
                }

        .title {
            font-size:20px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $(".search").keyup(function () {
                var searchTerm = $(".search").val();
                var listItem = $('.results tbody').children('tr');
                var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

                $.extend($.expr[':'], {
                    'containsi': function (elem, i, match, array) {
                        return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
                    }
                });
                $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function (e) {
                    $(this).attr('visible', 'false');
                });
                $(".results tbody tr:containsi('" + searchSplit + "')").each(function (e) {
                    $(this).attr('visible', 'true');
                });

                var jobCount = $('.results tbody tr[visible="true"]').length;
                $('.counter').text(jobCount + ' item');

                if (jobCount == '0') {
                    $('.no-result').show();
                } else {
                    $('.no-result').hide();
                }
            });
        });
    </script>
</head>

<body>

    <nav class="navbar navbar-inverse visible-xs">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Dashboard</a></li>
                    <li><a href="#">Age</a></li>
                    <li><a href="#">Gender</a></li>
                    <li><a href="#">Geo</a></li>
                </ul>
            </div>
        </div>

        </div>
        <br>

        <div class="col-sm-9">
            <div class="well">
                <h1>{{r.restaurant}} {{r.food}}</h1>
                <p>Some text..</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="well">
                        <font size="4em" color="blue"><u><b>★오늘의 학식 메뉴★</b></u></font>
                        <ul>
                            <div style="white-space: pre-line;font-size: 18px;">{{a_list}}</div>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well">
                        <h4>Pages</h4>
                        <p>100 Million</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="well">
                        <div class="jumbotron">
                            <div class="container text-center">
                                <form method="post" action="/board/">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="title">음식점 이름</label>
                                        <input type="text" class="form-control" name="title" id="title">
                                    </div>
                                    <div class="form-group">
                                        <label for="content">후기</label>
                                        <textarea class="form-control" rows="5" name="content" id="content"></textarea>

    </nav>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidesidenav hidden-xs">
                <div class="col-md-11">
                    <div class="">
                        <div class="text-content" style="margin-top: 30px; text-align: center;">
                            <img src="/static/img/RS2435tq.jpg" style="width:280px;" alt="">
                            <h3>메뉴선택 쌉가능</h3>
                            <div class="line-dec"></div>
                            <h1 style="color : black">안동대 <br>뭐먹지?</h1>
                            <br>
                            <h3 style="color : black"> 혁신성장 청년인재 </h3>
                            <h3 style="color : black"> 스마트팩토리 SW 개발자 양성과정</h3>
                            <h3 style="color : black"> 미니프로젝트 3조</h3>
                            <h3 style="color : black"> 이환희 </h3>
                            <h3 style="color : black"> 정은희 </h3>
                            <h3 style="color : black"> 박철형 </h3>
                            <h3 style="color : black"> 문장혁 </h3>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm-9">
                <div class="well">
                    <h4>오늘의 메뉴 추천</h4>

                    <head>
                        <title>Insert title here</title>
                    </head>
                    <SCRIPT LAUNGUAGE='JAVASCRIPT'>                     // 자바 스크립트 시작
                        function test() {                               // test라는 함수 정의
                            location.reload();
                        }
                    </SCRIPT>

                    <body>

                        <FORM>
                            <INPUT type='BUTTON' value='추천받기' onclick='test()'>
                        </FORM>

                    </body>

</html>
<p>{{r.restaurant}} {{r.food}}</p>
<img src="{{r.photo}}" />

<div class="fb-like" data-href="http://localhost:8000/main/" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="false"></div>

<html>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="well">
            <font size="4em" color="blue"><u><b>★오늘의 학식 메뉴★</b></u></font>
            <ul>
                <div style="white-space: pre-line; font-size: 18px;">{{a_list}}</p>
            </ul>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="well">
            <font class="title"><span class="glyphicon glyphicon-phone-alt"></span> 연락처</class></font>
            <div class="form-group pull-right">
                <input type="text" class="search form-control" placeholder="검색 단어입력">
            </div>
            <span class="counter pull-right"></span>
            <table class="table table-hover table-bordered results">
                <thead>
                    <tr>
                        <th>식당</th>
                        <th>전화번호</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in data %}
                    <tr>
                        <th scope="row">{{c.id}}</th>
                        <td>{{c.name}}</td>
                        <td>{{c.ph}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="well">
            <font class="title"><span class="glyphicon glyphicon-book"></span> 게시판</class></font>
            <!-- <a href="/list/"><button type="submit" class="listbtn" style="float: right; WIDTH: 70pt; HEIGHT: 40pt"  >
                <font color="white">목록</font>>
            </button></a> -->    
            <div class="jumbotron">  
                <div class="container text-center">
                    <form method="post" action="/board/">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title">음식점 이름</label>
                            <input type="text" placeholder="ex) 피오르달리조" class="form-control" name="title" id="title">
                        </div>
                        <div class="form-group">
                            <label for="content">후기</label>
                            <textarea class="form-control" rows="5" name="content" id="content"></textarea>
                        </div>
                        <button type="submit" class="listbtn"  style="float: center;">
                            &nbsp;글쓰기&nbsp;
                          <a href="/list/">  <button type="button" class="listbtn"  style="float: center;">
                                <font color="black">&nbsp;&nbsp;목록&nbsp;&nbsp;</font>
                        </button></a></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="well">
            <font class="title"><span class="glyphicon glyphicon-globe"></span> 지도</class></font>
            <div class="jumbotron">
                <div class="container text-center">
                    <div id="map" style="width: 600px; height:500px; margin:0 auto;"></div>
                </div>
            </div>
            <!-- 위도/경도를 실시간으로 알아내는 코드로 바꿔보기-->
            <script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=20de334a212ac9b1dbd19f4a3008b244"></script>
            <script>
                navigator.geolocation.getCurrentPosition(
                    function (position) {
                        var lat = position.coords.latitude;
                        var lng = position.coords.longitude;
                        //alert(lat + ', ' + lng);
                        var container = document.getElementById('map');
                        var options = {
                            center: new kakao.maps.LatLng(lat, lng), // 안동대학교 위도/경도
                            level: 3
                        };
                        var map = new kakao.maps.Map(container, options);
                        var markerPosition = new kakao.maps.LatLng(lat, lng);
                        var marker = new kakao.maps.Marker({
                            position: markerPosition
                        });
                        marker.setMap(map);
                        $.ajax({
                            url: '/map_data/',
                            data: {
                                'lat': lat, 'lng': lng
                            },
                            success: function (res) {
                                for (var i = 0; i < res.length; i++) {
                                    var marker = new kakao.maps.Marker({
                                        map: map, // 마커를 표시할 지도
                                        position: new kakao.maps.LatLng(res[i].lat, res[i].lng),
                                        title: res[i].title,
                                    });
                                }
                            }
                        });

                        // 마커에 커서가 오버됐을 때 마커 위에 표시할 인포윈도우를 생성합니다
                        var iwContent = '<div style="padding:5px;">Hello World!</div>'; // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다

                        // 인포윈도우를 생성합니다
                        var infowindow = new kakao.maps.InfoWindow({
                            content: iwContent
                        });

                        // 마커에 마우스오버 이벤트를 등록합니다
                        kakao.maps.event.addListener(marker, 'mouseover', function () {
                            // 마커에 마우스오버 이벤트가 발생하면 인포윈도우를 마커위에 표시합니다
                            infowindow.open(map, marker);
                        });

                        // 마커에 마우스아웃 이벤트를 등록합니다
                        kakao.maps.event.addListener(marker, 'mouseout', function () {
                            // 마커에 마우스아웃 이벤트가 발생하면 인포윈도우를 제거합니다
                            infowindow.close();
                        });


                    });


            </script>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>

</body>

</html>