{{r.restaurant}} {{r.food}}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/templatemo-style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 200%;
    }
    
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
    .col-sm-9 .well{
        height: 400px;
    }
    
  </style>
</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#">Age</a></li>
        <li><a href="#">Gender</a></li>
        <li><a href="#">Geo</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidesidenav hidden-xs">
      <div class="col-md-11">
        <div class="left-banner-content">
          <div class="text-content" style="margin-left : -150px;">
            <center>
            <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h3>메뉴선택 쌉가능</h3>
                    <div class="line-dec"></div>
                    <h1 style="color : black">안동대 <br>뭐먹지?</h1>
                    <br>
                    <h3 style="color : black"> 혁신성장 청년인재 </h3>
                    <h3 style="color : black"> 스마트팩토리 SW 개발자 양성과정</h3>
                    <h3 style="color : black"> 미니프로젝트 3조</h3>
                    <h3 style="color : black"> 이환희 </h3>
                    <h3 style="color : black"> 정은희 </h3>
                    <h3 style="color : black"> 박철형 </h3>
                    <h3 style="color : black"> 문장혁 </h3>
                    </center>
                  </div>
            </div>
        </div>
    </div>
    <br>
    
    <div class="col-sm-9">
      <div class="well">
        <h4>Dashboard</h4>
        <p>Some text..</p>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <font size="4em" color="blue"><u><b>★오늘의 학식 메뉴★</b></u></font>
            <ul>
                <p style="white-space: pre-line">{{a_list}}</p>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <h4>Pages</h4>
            <p>100 Million</p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <div class="jumbotron">
                <div class="container text-center">
                    <form method="post" action="/board/">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title">음식점 이름</label>
                            <input type="text" class="form-control" name="title" id="title">
                        </div>
                        <div class="form-group">
                            <label for="content">후기</label>
                            <textarea class="form-control" rows="5" name="content" id="content"></textarea>
                        </div>
                            <button type="submit" id="complete" class="btn btn-warning btn-block">
                            글쓰기
                        </button>
                    </form>
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">

          <div class="well">
            <h4>Users</h4>
            <p>1 Million</p> 
          </div>
        </div>

        <!-- <div class="col-sm-4">

        <div class="col-sm-6">

          <div class="well">
            <h4>Pages</h4>
            <p>100 Million</p> 
          </div>
        </div> -->
      </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>

<!-- 

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Avalon full-width responsive template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/fontAwesome.css">
    <link rel="stylesheet" href="/static/css/hero-slider.css">
    <link rel="stylesheet" href="/static/css/owl-carousel.css">
    <link rel="stylesheet" href="/static/css/datepicker.css">
    <link rel="stylesheet" href="/static/css/templatemo-style.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <script src="/static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<style>
    .col-md-5 {
    overflow: scroll;
    width: 500px;
    height: 500px;
    padding-right: 0;
    }
/* 
    .col-md-8 {
    width: 800px;
    height: 500px;
    }

    .col-md-4 {
    width: 200px;
    height: 500px;
    } */
    </style>

    <body>

        <section class="banner" id="top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="left-banner-content">
                            <div class="text-content">
                                <h2>메뉴선택 쌉가능</h2>
                                <div class="line-dec"></div>
                                <h1 style="color : black">안동대 <br>뭐먹지?</h1>
                                <div class="pink-border-button">
                                    <a href="#" class="scroll-link" data-id="best-offer-section">Discover More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="right-banner-content">
                            <ul>
                                <p style="white-space: pre-line;">{{ a_list}}</p>
                            </ul>
                        </div>

                </div>
                <div class="col-md-4">
                    <div class="right-banner-content">
                        <p>"오늘의 학식 메뉴"</p>
                        <ul>
                            <p style="white-space: pre-line;">{{ a_list}}</p>
                        </ul>

                    </div>
                    <div class="col-md-5">
                        <table class="table table-bordered">


                            <thead>
                                <tr>
                                    <th>식당</th>
                                    <th>전화번호</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in data %}
                                <tr>
                                    <td>{{c.name}}</td>
                                    <td>{{c.ph}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <div class="jumbotron">
                            <div class="container text-center">
                                <form method="post" action="/board/">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="title">음식점 이름</label>
                                        <input type="text" class="form-control" name="title" id="title">
                                    </div>
                                    <div class="form-group">
                                        <label for="content">후기</label>
                                        <textarea class="form-control" rows="5" name="content" id="content"></textarea>
                                    </div>
                                    <button type="submit" id="complete" class="btn btn-warning btn-block">
                                        글쓰기
                                    </button>
                                </form>
                            </div>

    <style>
 <style>

        .container {
            overflow: scroll;
            width: 300px;
            height: 200px;
        }
    </style> 

    <section class="best-offer" id=best-offer-section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <table class="table table-bordered">
                        
                        <thead>
                            <tr>
                                <th>식당</th>
                                <th>전화번호</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in data %}
                            <tr>
                                <td>{{c.name}}</td>
                                <td>{{c.ph}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <div class="jumbotron">
                        <div class="container text-center">
                            <form method="post" action="/board/">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="title">음식점 이름</label>
                                    <input type="text" class="form-control" name="title" id="title">
                                </div>
                                <div class="form-group">
                                    <label for="content">후기</label>
                                    <textarea class="form-control" rows="5" name="content" id="content"></textarea>
                                </div>
                                <button type="submit" id="complete" class="btn btn-warning btn-block">
                                    글쓰기
                                </button>
                            </form>

                        </div>
                    </div>
                </div> -->
        </section>
    </body>

</html>