<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Avalon full-width responsive template</title>
<!-- 
Avalon Template 
http://www.templatemo.com/tm-513-avalon
-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/css/fontAwesome.css">
        <link rel="stylesheet" href="/static/css/hero-slider.css">
        <link rel="stylesheet" href="/static/css/owl-carousel.css">
        <link rel="stylesheet" href="/static/css/datepicker.css">
        <link rel="stylesheet" href="/static/css/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="/static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>

    <section class="banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="left-banner-content">
                        <div class="text-content">
                            <h6>메뉴선택 쌉가능</h6>
                            <div class="line-dec"></div>
                            <h1>안동대 <br>뭐먹지?</h1>
                            <div class="white-border-button">
                                <a href="#" class="scroll-link" data-id="best-offer-section">Discover More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="right-banner-content">
                        <div class="logo"><a href="index.html"><img src="/static/img/logo.png" alt=""></a></div>
                        <h2>Avalon</h2>
                        <span>Creative <em>HTML</em> Template</span>
                        <div class="line-dec"></div>
                        <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et sem blandit, rhoncus ante a, varius libero. Cras elementum tincidunt ullamcorper. Sed vehic ula dictum tortor ut aliquet. ”</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="best-offer" id=best-offer-section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="best-offer-left-content">
                        <div class="icon"><img src="/static/img/best-offer-icon.png" alt=""></div>
                        <h4>Best Offer For You</h4>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="best-offer-right-content">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <h2>Awesome &amp; Unique<br>Layout <em>Theme</em></h2>
                                <p>Avalon is a full-width responsive web template. Please tell your friends about <a href="https://www.facebook.com/templatemo" target="_parent">templatemo</a>. Thank you. Feel free to use this template. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cura bitur et sem blandit, rhoncus ante, varius libero. Cras elemen tum tincidunt ullamcorper.</p>
                                <ul>
                                    <li>+ Aenean eget ex faucibus, tempor nibh vel.</li>
                                    <li>+ Bibendum tortor. Suspendisse a diam viverra.</li>
                                    <li>+ Finibus ipsum et, imperdiet felis.</li>
                                    <li>+ Donec laoreet efficitur ultrices sit amet enim.</li>
                                </ul>
                                <div class="pink-button">
                                    <a href="#" class="scroll-link" data-id="events-section">Discover More</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <img src="/static/img/best-offer-image.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </script>
</body>
</html>