<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="jumbotron">
    <div class="container text-left">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>음식점 이름</th>
                    <th>후기</th>
                </tr>
            </thead>
            <tbody>
                {% for article in article_list %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</button></td>
                    <td>{{ article.content }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>